<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>{% block titlePage %}{% endblock %}</title>
        <meta charset="UTF-8">
        {% block metaDescriptionPage %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.png') }}">
	{% block stylesheets %}
            <!-- pour que ça marche en mode prod : php app/console cache:clear --env=prod ET php app/console assetic:dump --env=prod -->
            {% stylesheets 'css/site.css' 'css/menu.css' filter='cssrewrite, ?yui_css' %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
	{% endblock %}
            
	{% block javascripts %}
	    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
	{% endblock %}
    </head>
    
    <body>
        <div id="grayBackground"></div>
        
        <div id="leftFrame">
            <a href="{{ path('apa_generalPage_homepage') }}" title="Accueil de l'Oetherium">
                <img id="logo" class="centerPage" src="{{ asset('img/logo-oetherium.png') }}" alt="logo de l'Oetherium">
            </a>
            
            <div id="descriptionMenu">
                {% block descriptionMenu %}{% endblock %}
	    </div>
            
	    <nav id="navigation"> 
		<ul class="firstUl">
		   <li><a class="imgMenu"  href="{{ path('apa_generalPage_homepage') }}" title="L'Oetherium">Œtherium</a></li>
                   <li><a class="imgMenu" href="{{ path('apa_generalPage_author') }}" title="Les auteurs de l'Oetherium">Auteurs</a></li>
		   <li>
                        <a class="imgMenu imgMenu2 " href="{{ path('apa_story_chapter',{'numero':'1'}) }}" title="L'histoire de l'Oetherium">Histoire</a>
                        <ul>
                            <li>
                                <a class="imgSubMenu" href="{{ path('apa_story_chapters') }}" title="Les chapitres de l'Oetherium">Chapitres</a>
                            </li>
                            <li>
                                <a class="imgSubMenu" href="{{ path('apa_story_annexTexts',{'page':1}) }}" title="Les textes annexes de l'Oetherium">Textes annexes</a>
                            </li>
                        </ul>
                        <!-- exemple sans les { ! sinon ça exécute : render(controller('ApaStoryBundle:Story:listChapter')) -->
                   </li>
		   <li><a class="imgMenu imgMenu3" href="{{ path('apa_story_characters') }}" title="Les personnages de l'Oetherium">Personnages</a></li>
		   <li><a class="imgMenu" href="{{ path('apa_generalPage_faq') }}" title="L'Oetherium répond à vos questions">F.A.Q</a></li>
		   <li><a class="imgMenu" href="{{ path('apa_generalPage_link') }}" title="Les sites affiliés à l'Oetherium">Liens</a></li>
		</ul>
            </nav>
	</div>
	
        <div id="book">
            <div id="borderLeftBook"></div>
            <div id="middleFrame">
                <div id="formLogin">
                    <input type="button" class="closeForm" value="X">
                    <div class="clear"></div>
                    {{ render(controller('FOSUserBundle:Security:login')) }}
                </div>
                {% block body %}{% endblock %}  
            </div>
            <div id="borderRightBook"></div>
        </div>
	
	<div id="rightFrame">
            <a class="link" href="#" title="Grossir la police"><p class="firstButton buttonFontSize centerPage">p</p></a>
            <a class="link" href="#" title="Changer l'apparence du texte"> <p class="button buttonTextColor centerPage">c</p></a>
            
            {% block buttonTextDisplay %}{% endblock %}
            {% block socialNetwork %}{% endblock %}
        </div>
            
        <!-- A mettre aprés l'utilisation de div(s) avec float-->
        <div class="clear"></div>
        
        <footer>
            <div id="leftCorner">
                <ul>
                    <li>Contact : hellypse@gmail.com</li>
                    <li>Réalisation : Axelle Palermo, Hellypse, K.Zlovetch</li>
                        <!-- Si on est connecté-->
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <!-- Si on est un admin-->
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a class="link" href="{{ path('sonata_admin_dashboard') }}">Panneau d'administration</a><a class="link" href="{{ path('fos_user_security_logout') }}"> - Déconnexion</a></li>
                            {% endif %}
                        <!-- Sinon-->
                        {% else %}
                        <li id="administration">Administration</li>
                        {% endif %}
                </ul>
            </div>
            
            <div id="rightCorner">
                <ul>
                    <li><a class="underline" href="{{ path('apa_generalPage_legalMention') }}" title="Mentions légales">Mentions légales</a></li>
                    <li id="copyright">© 2015, Héloïse Palermo – <span class="bold">Tous droits réservés</span></li>                   
               </ul>
            </div>
            <div class="clear"></div>
        </footer>
        <!--on met le javascript à la fin si possible (performance)-->
        <!-- pour que ça marche en mode prod : php app/console cache:clear --env=prod ET php app/console assetic:dump --env=prod -->
        {% javascripts 'js/init.js' 'js/functions.js' filter='?yui_js'%}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
