{% extends "::layout.html.twig" %}       
{% block titlePage %}Les chapitres de l'Oetherium{% endblock %}

{% block metaDescriptionPage %}
    <meta name="description" content="Venez lire tout les chapitres de l'Oetherium.">
{% endblock %}

{% block descriptionMenu %}Les chapitres{% endblock %}

{% block body %}
    <div itemscope itemtype="http://schema.org/CreativeWork">
        <h1 id="title" class="uppercase" itemprop="headline">Sommaire</h1>
        
        <div id="contentMiddleFrame" itemprop="text"> 
                {% if pagination %}
                    {% for chapter in pagination %}
                        <span itemscope itemtype="http://schema.org/Thing">
                            <a class="link" itemprop="url" href="{{ path('apa_story_chapter',{'numero':chapter.id}) }}">
                                <span class="capital chapterTitle" itemprop="name">{{chapter.number}}. {{ chapter.title }}</span>
                            </a>
                        </span><br><br>
                        <hr>
                    {% endfor %}
                {% else %}
                    Il n'existe pas encore de chapitres.
                {% endif %}
        </div>
        <div id="pagination" itemprop="pagination">{{ knp_pagination_render(pagination) }}</div>
    </div>
{% endblock %}

{% block socialNetwork %}
    <a class="buttonSocialNetworkFirst centerPage" target="_blank" title="Twitter" href="http://twitter.com/share?url={{ app.request.uri }}&amp;text=Les%20chapitres%20de%20l'Oetherium">
        <i class="fa fa-twitter fa-lg tw">t</i>
    </a>
    
    <a class="buttonSocialNetwork centerPage" target="_blank" title="Facebook" href="http://www.facebook.com/sharer.php?u={{ app.request.uri }}&amp;t=Les%20chapitres%20de%20l'Oetherium">
        <i class="fa fa-facebook fa-lg fb">f</i>
    </a>
    
    <a class="buttonSocialNetwork centerPage" target="_blank" title="Google Plus" href="https://plusone.google.com/_/+1/confirm?hl=en&amp;url={{ app.request.uri }}">
        <i class="fa fa-google-plus fa-lg google">g</i>
    </a>
{% endblock %}